[submodule "conkerorrc"]
    path = conkerorrc
    url = git://github.com/myfreeweb/conkerorrc.git
[submodule "conky"]
    path = conky
    url = git://github.com/myfreeweb/conky-godville-krosswordr.git
[submodule "bin/pickdrop"]
	path = bin/pickdrop
	url = git://github.com/iaindooley/pickdrop.git
[submodule "bin/rvn"]
	path = bin/rvn
	url = git://github.com/rupa/rvn.git
[submodule "bin/z"]
	path = bin/z
	url = git://github.com/sjl/z-zsh.git
[submodule "zshuery"]
    path = zshuery
    url = git://github.com/myfreeweb/zshuery.git