<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.floatboth.evernote_selection</string>
    <key>ProgramArguments</key>
    <array>
      <string>python</string>
      <string>/Users/myfreeweb/Code/dotfiles/bin/evernote_selection.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>myfreeweb</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/var</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/evernote_selection.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/evernote_selection.log</string>
  </dict>
</plist>
