snippet ent
	`system("date +%m/%d")` ${1:transaction}
	    ${2:account}    ${3:value}
	    ${4:source}
snippet ph
	`system("date +%m/%d")` Paying for the phone
	    Expenses:Phone    ${1:500} RUR
	    Assets:${2:QIWI}
snippet qi
	`system("date +%m/%d")` ${1:transaction}
	    Expenses:${2:Apps}    ${3}
	    Assets:QIWI
